//============
// Variables
//============

/* Typography */
$heading: 'Arvo', serif;
$body: 'Open Sans', sans-serif;

/**
 * FontAwesome default paths
*/
$fa-font-path: '../webfonts';

/* Basic Black & White */
$blk: #000;
$wht: #fff;

//-------------------------
// Opacity Varibles
//-------------------------

/* Black */
$blk01: rgba(0, 0, 0, 0.05);
$blk02: rgba(3, 1, 1, 0.02);
$blk03: rgba(0, 0, 0, 0.03);
$blk04: rgba(0, 0, 0, 0.04);
$blk05: rgba(0, 0, 0, 0.05);
$blk10: rgba(0, 0, 0, 0.1);
$blk20: rgba(0, 0, 0, 0.2);
$blk30: rgba(0, 0, 0, 0.3);
$blk40: rgba(0, 0, 0, 0.4);
$blk50: rgba(0, 0, 0, 0.5);
$blk60: rgba(0, 0, 0, 0.6);
$blk70: rgba(0, 0, 0, 0.7);
$blk80: rgba(0, 0, 0, 0.8);
$blk90: rgba(0, 0, 0, 0.9);

/* White */
$wht05: rgba(255, 255, 255, 0.05);
$wht10: rgba(255, 255, 255, 0.1);
$wht20: rgba(255, 255, 255, 0.2);
$wht30: rgba(255, 255, 255, 0.3);
$wht40: rgba(255, 255, 255, 0.4);
$wht50: rgba(255, 255, 255, 0.5);
$wht60: rgba(255, 255, 255, 0.6);
$wht70: rgba(255, 255, 255, 0.7);
$wht80: rgba(255, 255, 255, 0.8);
$wht90: rgba(255, 255, 255, 0.9);

//-----------------
// Custom Colors
//-----------------

/* Custom Colors */
$prim: $blk;
$sec: $wht50;
$thd: $wht;

/* Effects */
$press: 0 1px $wht50;
$drop: 0 1px 1px $blk80;
$smooth: all, 0.15s, ease-in-out, 0.5s;
$slow: all, 2s, ease-in-out, 2s;
