//----------------------------------
// Desktop Navigation Styles
//----------------------------------

#desktop-navigation {
  padding: 0;
  margin: 0;
  ul {
    padding: 0;
    margin: 0;
    li {
      @include flex-column(center, center);

      margin: 0;
      a {
        @include font-size(20px, 100%);
        transition: $smooth;
        color: $blk;
        font-weight: 700;
        font-family: $heading;
        display: block;
        padding: 15px 30px;
        &:hover {
          transition: $smooth;
          background: $sec;
          color: $blk;
          text-shadow: $press;
        }
      }
    }
  }

  /* Dropdowns */
  .dropdown:hover > .dropdown-menu {
    @include flex-column(center, center);
    padding: 0;
    border-radius: 0;
    margin-top: -1px;
    //width: 100%;
    border: 1px solid $wht70;
    box-shadow: 0 0 10px 10px $blk30;
    a {
      padding: 10px;
      color: $wht;
      background: none $prim;
      text-align: left;
      border: none;
      &:hover {
        background: none $sec;
        color: $blk;
        text-shadow: $press;
        border: none;
      }
    }
  }
}
