//=================
// Header Styles
//=================

#header-container {
}
#logo {
  svg {
    min-width: 250px;
    height: 100%;
  }
  img {
    width: 100%;
    max-width: 150px;
    height: auto;
  }
}
